<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>OrbitControls Fix</title>

  <!-- 🔹 IMPORT MAP -->
  <script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.160/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.160/examples/jsm/"
    }
  }
  </script>
</head>

<body style="margin:0">

<h1>LCAMP Robot</h1>
<div id="warning-container"></div>
<script type="module">
 if (location.protocol === "file:") {
            const p = document.createElement("p");
            p.textContent = "⚠️ This page must be launched through a web server!";
            p.style.color = "red";
            p.style.fontWeight = "bold";
            p.style.textAlign = "center";

            document.getElementById("warning-container").appendChild(p);
        }
</script>
<script type="module">
import * as THREE from 'three';
import { OrbitControls } from 'three/addons/controls/OrbitControls.js';


import {GenerateSensorBox} from './Generate_Wheel.js';
import {Create_Regular_Wheel} from './Generate_Wheel.js';
import {Create_Mecanum_Wheel} from './Generate_Wheel.js';
import {Create_Omni_Wheel} from './Generate_Wheel.js';


async function loadRobotConfig(configFile = "RobotConfig.json") {
    const url = `./saved_configs/${configFile}?t=${Date.now()}`; // Cache-Buster

    const response = await fetch(url);
    if (!response.ok) {
        throw new Error(`Config konnte nicht geladen werden: ${configFile}`);
    }

    const jsonData = await response.json();
    return jsonData;
}


// 🔁 Resize-Handling
window.addEventListener('resize', onWindowResize, false);

function onWindowResize() {
    const width = window.innerWidth;
    const height = window.innerHeight;

    // Kamera anpassen
    camera.aspect = width / height;
    camera.updateProjectionMatrix();

    // Renderer anpassen
    renderer.setSize(width, height);
}


const params = new URLSearchParams(window.location.search);
const configFile = params.get("config");
let config;
if (configFile) {
    console.log("Config-Datei:", configFile);
   config= await loadRobotConfig(configFile);
}else {
  config = await loadRobotConfig();
}

// Farben
const colorsData = config.ColorScheme;

// Wheels
const wheelsArray = config.DriveSystems;
const sensorData =  config.SensorDevices;

const scene = new THREE.Scene();
scene.background = new THREE.Color(0xf0f0f0);

const camera = new THREE.PerspectiveCamera(60, window.innerWidth/window.innerHeight, 10, 1500);
camera.position.set(0, 600, 1000);

const renderer = new THREE.WebGLRenderer({ antialias: true });
renderer.setSize(window.innerWidth, window.innerHeight);
document.body.appendChild(renderer.domElement);
renderer.localClippingEnabled = true

/* OrbitControls */
const controls = new OrbitControls(camera, renderer.domElement);
controls.enableDamping = true;

const height= 64;
const length =100;
const centerwidth=140;

/* Cube Center Frame  */
const cube = new THREE.Mesh(
  new THREE.BoxGeometry(3*length+6, height, centerwidth),
  new THREE.MeshStandardMaterial({ color: colorsData.base })
);
scene.add(cube);

/* Cube Central SensorBoxes */
const sBoxGeo = new THREE.BoxGeometry(94, height, 40)
const sBoxMat = new THREE.MeshStandardMaterial({ color: colorsData.main  })
const cubeSBL = new THREE.Mesh(sBoxGeo,sBoxMat);
 cubeSBL.position.z = 90;           // über dem Block
scene.add(cubeSBL);
const cubeSBR = new THREE.Mesh(sBoxGeo,sBoxMat);
 cubeSBR.position.z = -90;           // über dem Block
scene.add(cubeSBR);

const cylMat= new THREE.MeshStandardMaterial({
  color: colorsData.detail,
  transparent: true,
  opacity: 0.4,
  side: THREE.DoubleSide
});

/* Geometrie & Material for Sensor*/
const sensorGeo = new THREE.CylinderGeometry(
  20,    // top radius
  20,    // bottom radius
  26,    // height
  64    // radial segments
);

const sBoxFront = GenerateSensorBox(190,height, 153,-1, colorsData);
 scene.add(sBoxFront);

const sBoxBack = GenerateSensorBox(190, height, 153,1,colorsData);
 scene.add(sBoxBack);

/* Eck-Blöcke */
const cornerBlocks = [];
const positions = [
  [-100, 0, -100],
  [-100, 0,  100],
  [ 100, 0, -100],
  [ 100, 0,  100]
];
const driveSystem = [
  { pos: [-100, 0, -100], rot: -Math.PI/2 },
  { pos: [-100, 0,  100], rot:  Math.PI/2 },
  { pos: [ 100, 0, -100], rot: -Math.PI/2 },
  { pos: [ 100, 0,  100], rot:  Math.PI/2 }
];

const sensorPosData = [
  { id:"f1", pos: [ 180, 0,  75], rot: [Math.PI/2, 0, Math.PI*7/12] },
  { id:"b1", pos: [-180, 0,  75], rot: [Math.PI/2 ,0, -Math.PI*7/12] },
  { id:"f2", pos: [ 190, 0,  25], rot: [0,0,  Math.PI/2] },
  { id:"b2", pos: [-190, 0,  25], rot: [0,0, -Math.PI/2] },
  { id:"b4", pos: [-180, 0, -75], rot: [Math.PI/2, 0,-Math.PI*5/12] },
  { id:"f4", pos: [ 180, 0, -75], rot: [Math.PI/2, 0, Math.PI*5/12] },
  { id:"b3", pos: [-190, 0, -25], rot: [0,0, -Math.PI/2] },
  { id:"f3", pos: [ 190, 0, -25], rot: [0, 0, Math.PI/2] },

  { id:"l1", pos: [-22, 0, 110], rot:  [Math.PI/2,0,0] },
  { id:"l2", pos: [ 22, 0, 110], rot:  [Math.PI/2,0,0]  },
  { id:"c1", pos: [-22, 0, -110], rot: [Math.PI/2,0,0] },
  { id:"c2", pos: [ 22, 0, -110], rot: [Math.PI/2,0,0] }
];

function createWheelByType(type, dir, size, colors) {
  switch (type) {
    case "Regular-Wheel":
      return Create_Regular_Wheel(size, colors);
    case "Mecanum-Wheel":
      return Create_Mecanum_Wheel(size, colors, dir);
    case "Omni-Wheel":
      return Create_Omni_Wheel(size, colors);
    default:
      console.warn("Unknown wheel type:", type);
      return null;
  }
}
// Funktion um Sensordaten nach ID zu bekommen
function getSensorDataById(id) {
    return sensorPosData.find(sensor => sensor.id === id);
}

driveSystem.forEach((drive,i) => {
  const type = wheelsArray[i].wheelType;
  const rWheel= createWheelByType(type, direction(i)*direction(i/2), 48, colorsData);
  const [x, y, z] = drive.pos;
  rWheel.position.set(x,y,z);
  rWheel.rotation.x = drive.rot;
  scene.add(rWheel);
  cornerBlocks.push(rWheel);
});

sensorData.forEach((sensor,i) => {
    const color = sensor.color || "#ffffff"; // Fallback weiß
    const sensorMat = new THREE.MeshStandardMaterial({ color: color });
  const sensorBlock = new THREE.Mesh(sensorGeo, sensorMat)
  const sensorPos= getSensorDataById(sensor.location)
    const [x, y, z] = sensorPos.pos;
  const [rotX, rotY, rotZ] = sensorPos.rot;
  sensorBlock.position.set(x, y, z);
  sensorBlock.rotation.set(rotX, rotY, rotZ);

  scene.add(sensorBlock);

});

 function direction(index)
 {
   if (Math.floor(index) % 2 !== 0) {
     // i ist ungerade
     return -1;
   } else {
     // i ist gerade
     return  1;
   }
 }

/* Light */
scene.add(new THREE.AmbientLight(0xffffff, 0.8));

/* Animation */
function animate() {
  requestAnimationFrame(animate);

  cornerBlocks.forEach((block, i) => {
         block.rotation.y += 0.009* direction(i);
     });

  renderer.render(scene, camera);
}

animate();
</script>
</body>
</html>